{% extends 'patients_app/base.html' %}
{% block content %}
{% load staticfiles %}

<h2>Allergy</h2>
<form id="allergy-form" action="{% url 'patients_app:allergy_index' %}" method="{{ method }}" data-allergy="{{ allergy.id }}">
  {% csrf_token %}
  <div id="allergy-info">
    <div class="form-title">Reaction</div>
    <input class="input-med" type="text" name="reaction" value="{{ allergy.reaction }}">
    <div class="form-title">Current status</div>
    <select name="status">
      <option id="allergy-active" value="active">active</option>
      <option id="allergy-inactive" value="inactive">inactive</option>
    </select>
  </div>

  <div id="allergy-notes">
    <div class="form-title">Additional notes</div>
    <textarea class="text-area" name="notes" rows="8" cols="40">{{ allergy.notes }}</textarea>
  </div>

  <button id="save-allergy-btn" class="btn" type="submit" name="button">Save</button>
</form>

{% include 'patients_app/include/_loading_screen.html' %}

<script defer type="text/javascript" src="{% static 'js/allergies/allergy_form.js' %}"></script>
{% endblock %}
