{% extends 'patients_app/base.html' %}
{% block content %}

<div id="clinical-table" class="bold">
  PROBLEMS
</div>
<a href="{% url 'patients_app:problem_new' %}">
  <button type="button" class="btn" name="button">Add new problem</button>
</a>

<div id="clinical-table-head" class="table-content bold">
  <div class="clinical-col">Name</div>
  <div class="clinical-col status-col ">Status</div>
</div>
<div id="clinical-list" class="table-content">
  {% include 'patients_app/problems/problem_list.html' %}
</div>
{% endblock %}
