{% extends 'patients_app/base.html' %}
{% block content %}
{% load staticfiles %}

<h1>Problem</h1>
<form id="problem-form" action="{% url 'patients_app:problem_index' %}" method="{{ method }}" data-problem="{{ problem.id }}">

  {% csrf_token %}
  <div id="problem-info">
    <label>Name of problem:
      <input class="basic-input" type="text" name="name" value="{{ problem.name }}">
    </label>
    <label>
      <div class="">
        Description:
      </div>
      <textarea class="text-area" name="description" rows="8" cols="40">{{ problem.description }}</textarea>
    </label><br>
    <label>Status:
      <select name="status">
        <option id="problem-active" value="active">active</option>
        <option id="problem-inactive" value="inactive">inactive</option>
        <option id="problem-resolved" value="resolved">resolved</option>
      </select>
    </label><br>
  </div>

  <div id="problem-dates">
    <label>Date of onset:
      <input type="date" name="date_onset" value="{{ onset_date }}">
    </label><br>
    <label>Date of diagnosis:
      <input type="date" name="date_diagnosis" value="{{ diagnosis_date }}">
    </label><br>
  </div>

  <div id="problem-notes">
    <label>
      <div class="">
        Additional notes:
      </div>
      <textarea class="text-area" name="notes" rows="8" cols="40">{{ problem.notes }}</textarea>
    </label>

  </div>

  <button id="save-problem-btn" class="btn" type="submit" name="button">Save</button>
</form>

{% include 'patients_app/include/_save_screen.html' %}

<script defer type="text/javascript" src="{% static 'js/problems/problems_form.js' %}"></script>
{% endblock %}
