{% extends 'patients_app/base.html' %}
{% block content %}
{% load staticfiles %}

<h2>Problem</h2>
<form id="problem-form" action="{% url 'patients_app:problem_index' %}"
  method="{{ method }}" data-problem="{{ problem.id }}"
>

  {% csrf_token %}
  <div id="problem-info">
    <label>Problem name:
      <input class="input-lg" type="text" name="name" value="{{ problem.name }}">
    </label>
    <label>
      <div class="form-title">
        Description
      </div>
      <textarea class="text-area" name="description" rows="8"
        cols="40">{{ problem.description }}</textarea>
    </label>
    <div class="form-title">Current status</div>
    <select name="status">
      <option id="problem-active" value="active">active</option>
      <option id="problem-inactive" value="inactive">inactive</option>
      <option id="problem-resolved" value="resolved">resolved</option>
    </select>
  </div>

  <div id="problem-dates">
    <div class="form-title">Dates</div>
    <label>Date of onset:
      <input class="input-med" type="date" name="date_onset" value="{{ onset_date }}">
    </label><br>
    <label>Date of diagnosis:
      <input class="input-med" type="date" name="date_diagnosis" value="{{ diagnosis_date }}">
    </label>
  </div>

  <div id="problem-notes">
    <label>
      <div class="form-title">Additional notes</div>
      <textarea class="text-area" name="notes" rows="8" cols="40">{{ problem.notes }}</textarea>
    </label>
  </div>
  <button id="save-problem-btn" class="btn" type="submit" name="button">Save</button>
</form>

{% include 'patients_app/include/_loading_screen.html' %}

<script defer type="text/javascript" src="{% static 'js/problems/problems_form.js' %}"></script>
{% endblock %}
