{% extends 'patients_app/base.html' %}
{% block content %}
{% load staticfiles %}

<h1>Medication</h1>
<form id="medication-form" action="{% url 'patients_app:medication_index' %}"
  method="{{ method }}" data-medication="{{ medication.id }}"
>

  {% csrf_token %}
  <div id="medication-info">
    <label>Name of medication:
      <input class="basic-input" type="text" name="name" value="{{ medication.name }}">
    </label>
    <br>
    <label>Substitute okay?
      {% if medication.daw == False %}
        <input class="daw-checkbox" type="checkbox" checked>
      {% else %}
        <input class="daw-checkbox" type="checkbox">
      {% endif %}
    </label>

    <label>Take as directed?
      {% if medication.prn == True %}
        <input class="prn-checkbox" type="checkbox" checked>
      {% else %}
        <input class="prn-checkbox" type="checkbox">
      {% endif %}
    </label>

    <label>Status:
      <select name="status">
        <option id="medication-active" value="active">active</option>
        <option id="medication-inactive" value="inactive">inactive</option>
      </select>
    </label><br>
  </div>

  <div id="medication-dates">
    <label>Date Prescribed:
      <input type="date" name="date_onset" value="{{ date_prescribed }}">
    </label><br>
    <label>Date stated taking:
      <input type="date" name="date_started_taking" value="{{ date_started_taking }}">
    </label><br>
    <label>Date stopped taking:
      <input type="date" name="date_stopped_taking" value="{{ date_stopped_taking }}">
    </label><br>
  </div>

  <div id="medication-dosage">
    <label>Quantity given:
      <input class="num-input" type="text" name="dispense_quantity"
        value="{{ medication.dispense_quantity }}"
      >
    </label>
    <label>Dosage:
      <input class="num-input" type="text" name="dosage_quantity"
        value="{{ medication.dosage_quantity }}"
      >
    </label>
    <label>Frequency:
      <input class="num-input" type="text" name="frequency"
        value="{{ medication.frequency }}"
      >
    </label>
    <label>Number of refills:
      <input class="num-input" type="text" name="number_refills"
        value="{{ medication.number_refills }}"
      >
    </label>
  </div>

  <div id="medication-notes">
    <label>
      <div class="">
        Additional notes:
      </div>
      <textarea class="text-area" name="notes" rows="8" cols="40">{{ medication.notes }}</textarea>
    </label>

  </div>

  <button id="save-meds-btn" class="btn" type="submit" name="button">Save</button>
</form>

{% include 'patients_app/include/_save_screen.html' %}

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/medication.js' %}"></script>
{% endblock %}
