{% extends 'patients_app/base.html' %}
{% block content %}
{% load staticfiles %}

<h2>Medication</h2>
<form id="medication-form" action="{% url 'patients_app:medication_index' %}"
  method="{{ method }}" data-medication="{{ medication.id }}"
>

  {% csrf_token %}
  <div id="medication-info">
    <label>Name of medication:
      <input class="input-lg" type="text" name="name" value="{{ medication.name }}">
    </label>
    <br>
    <label>Substitute okay?
      {% if medication.daw == False %}
        <input class="daw-checkbox" type="checkbox" checked>
      {% else %}
        <input class="daw-checkbox" type="checkbox">
      {% endif %}
    </label>
    <br>
    <label>Take only as needed?
      {% if medication.prn == True %}
        <input class="prn-checkbox" type="checkbox" checked>
      {% else %}
        <input class="prn-checkbox" type="checkbox">
      {% endif %}
    </label>

    <div class="form-title">Current status</div>
    <select name="status">
      <option id="medication-active" value="active">active</option>
      <option id="medication-inactive" value="inactive">inactive</option>
    </select>
  </div>

  <div id="medication-dates">
    <div class="form-title">Dates</div>
    <label>Date Prescribed:
      <input class="input-med" type="date" name="date_prescribed" value="{{ date_prescribed }}">
    </label><br>
    <label>Date stated taking:
      <input class="input-med" type="date" name="date_started_taking" value="{{ date_started_taking }}">
    </label><br>
    <label>Date stopped taking:
      <input class="input-med" type="date" name="date_stopped_taking" value="{{ date_stopped_taking }}">
    </label><br>
  </div>

  <div id="medication-dosage">
    <div class="form-title">Dosage</div>
    <label>Quantity given:
      <input class="input-sm" type="text" name="dispense_quantity"
        value="{{ medication.dispense_quantity }}"
      >
    </label>
    <label>Dosage:
      <input class="input-sm" type="text" name="dosage_quantity"
        value="{{ medication.dosage_quantity }}"
      >
    </label>
    <br>
    <label>Frequency taken:
      <input class="input-sm" type="text" name="frequency"
        value="{{ medication.frequency }}"
      >
    </label>
    <label>Number of refills:
      <input class="input-sm" type="text" name="number_refills"
        value="{{ medication.number_refills }}"
      >
    </label>
  </div>

  <div id="medication-notes">
    <div class="form-title">Additional notes</div>
    <textarea class="text-area" name="notes" rows="8" cols="40">{{ medication.notes }}</textarea>
  </div>

  <button id="save-meds-btn" class="btn" type="submit" name="button">Save</button>
</form>

{% include 'patients_app/include/_save_screen.html' %}

<script defer type="text/javascript" src="{% static 'js/medications/medication_form.js' %}"></script>
{% endblock %}
