/*general css*/
body {
  font-family: sans-serif;
  background-color: #F9EEC2;
}

#main {
  margin: auto;
  margin-top: 75px;
  min-height: 75vh;
  width: 80vw;
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #808080;
  margin-bottom: 25px;
}

.btn {
  color: #fff;
  background-color: #42931F;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  opacity: 0.8;
}

.btn:hover {
  opacity: 1.0;
  box-shadow: 0px 0px 3px #808080;
}

.display-none {
  display: none;
}

.text-area {
  width: 75%;
  max-width: 700px;
  font-size: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #ccc;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.input-med, .input-sm, .input-lg {
  margin-bottom: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 3px 10px;
  margin: 5px;
  font-size: 14px;
}

.input-sm {
  width: 50px;
}

.input-lg {
  width: 250px;
}

/*patient signin*/
.patient-signin {
  margin: 35px 0px;
}

.input-signin {
  height: 40px;
  width: 347px;
  font-size: 30px;
}

#signin-btn {
  padding: 15px 10px;
  border: 1px solid #4FA025;
  opacity: 0.8;
  width: 125px;
  font-size: 24px;
  margin: auto;
  display: block;
}

#drchrono-img {
  margin: auto;
  display: block;
  margin-top: 150px;
}

/*clinical lists*/
#clinical-table {
  border-radius: 3px;
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  background-color: #ccc;
  color: #4A4A4A;
  padding: 10px;
  padding-left: 30px;
  box-shadow: 0px 0px 3px #000;
  font-weight: 600;
}

#clinical-list {
  border-top: 1px solid #D3D3D3;
  border-radius: 0px 0px 3px 3px;
}

#clinical-table-head {
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px 3px 0px 0px;
  background-color: #F5F5F5;
}

.table-content {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.clinical-item {
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
}

.clinical-col {
  margin-left: 10px;
  display:inline-block;
  word-wrap: break-word;
}

.status-col {
  float: right;
  margin-right: 10px;
}

/*save results*/
#success-save, .success{
  background-color: #01AFEE;
  border: 1px solid #faebcc;
}

#error-save, .error {
  background-color: #A21515;
  border: 1px solid #790F0F;
  color: #fff;
}

.save-result {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  top: 79px;
  padding: 5px 0px;
  font-size: 24px;
  opacity: 0.9;
}

/*loading screens*/
#save-screen {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading-screen {
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 45%;
  background-color: #309549;
  color: #fff;
  padding: 20px 0px;
  padding-right: 70px;
  border-radius: 5px;
  display: inherit;
}

.center-screen {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}

.form-title {
  font-weight: 600;
  margin-top: 20px;
}

/*nav*/
#nav {
  position: fixed;
  width: 100%;
  height: 35px;
  background-color: #ccc;
  top: 0;
  left: 0;
  text-shadow: 0 -1px 0 rgba(256,256,256,0.25);
  z-index: 1000;
}

#nav-left {
  float: left;
}

#nav-right {
  float: right;
}

.nav-tab {
  width: 175px;
  text-align: center;
  background-color: #C5B36B;
  opacity: 0.7;
  vertical-align: bottom;
  height: 25px;
  padding-top: 10px;
}

.nav-tab:hover {
  opacity: 1.0;
}

.nav-tab-left {
  border-right: 1px solid #555A67;
}

.nav-tab-right {
  border-left: 1px solid #555A67;
}

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 15px;
  text-decoration: none;
  top: 0;
  color: #000;
}

.active {
  background-color: #F9EEC2;
  opacity: 1;
}

#nav-checkout, #nav-logout {
  background-color: #42931F;
  opacity: 0.8;
  width: 300px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#nav-checkout:hover, #nav-logout:hover {
  opacity: 1.0;
}

#logout-link {
  position: absolute;
  right: 1px;
  top: 0;
  box-shadow: 0 1px 3px #000;
}
