/*general css*/
body {
  font-family: sans-serif;
  background-color: #F9EEC2;
}

#main {
  margin: auto;
  margin-top: 75px;
  height: 75vh;
  width: 85vw;
  background-color: #fff;
  padding: 20px;
  /*border: 1px solid #ccc;*/
  border-radius: 3px;
  box-shadow: 0px 0px 3px #808080;
  overflow-y: scroll;
}

.btn {
  color: #fff;
  background-color: #42931F;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  opacity: 0.8;
}

.btn:hover {
  opacity: 1.0;
  box-shadow: 0px 0px 3px #808080;
}

.display-none {
  display: none;
}

.text-area {
  width: 75%;
  max-width: 700px;
  font-size: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #ccc;
  padding: 10px;
}

.basic-input, .num-input {
  margin-bottom: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 3px 10px;
  margin: 5px;
  font-size: 14px;
}

.num-input {
  width: 50px;
}

#patient-form {
  overflow-y: scroll;
  max-height: 60%;
  border-top: 1px solid #D3D3D3;
  border-radius: 0px 0px 3px 3px;
}

/*clinical lists*/

#clinical-table {
  padding-top: 5px;
  border-radius: 3px;
  display: block;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 10px;
  background-color: #42931F;
  color: #fff;
  padding-left: 5px;
  border: 1px solid #474B54;
}

#clinical-list {
  overflow-y: scroll;
  max-height: 60%;
  border-top: 1px solid #D3D3D3;
  border-radius: 0px 0px 3px 3px;
}

#clinical-table-head {
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 15px;
  border-radius: 3px 3px 0px 0px;
}

.table-content {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.clinical-item {
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
}

.clinical-col {
  margin-left: 10px;
  display:inline-block;
  word-wrap: break-word;
}

.status-col {
  float: right;
  margin-right: 10px;
}

#success-save {
  background-color: #74E82E;
  border: 1px solid #faebcc;
}

#error-save {
  background-color: #A21515;
  border: 1px solid #790F0F;
  color: #fff;
}

.save-result {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  top: 35px;
  padding: 5px 0px;
  font-size: 24px;
  opacity: 0.9;
}

#save-screen {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading-screen {
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 45%;
  background-color: #309549;
  color: #fff;
  padding: 20px 0px;
  padding-right: 70px;
  border-radius: 5px;
  display: inherit;
}

.center-screen {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
}

/*nav*/
#nav {
  position: fixed;
  width: 100%;
  height: 35px;
  background-color: #ccc;
  top: 0;
  left: 0;
  text-shadow: 0 -1px 0 rgba(256,256,256,0.25);
  z-index: 100;
}

#nav-left {
  float: left;
}

#nav-right {
  float: right;
}

.nav-link {
  width: 175px;
  text-align: center;
  background-color: #C5B36B;
  opacity: 0.7;
  display: inline-block;
  vertical-align: bottom;
}

.nav-link:hover {
  opacity: 1.0;
}

.nav-link-left {
  border-right: 1px solid #555A67;
}

.nav-link-right {
  border-left: 1px solid #555A67;
}

.nav-link>a {
  display: block;
  position: relative;
  font-size: 15px;
  text-decoration: none;
  height: 35px;
  top: 0;
  color: #000;
}

.nav-class-text {
  padding-top: 9px;
}

.active {
  background-color: #F9EEC2;
  opacity: 1;
}

#nav-checkout {
  background-color: #42931F;
  opacity: 0.8;
}

#nav-checkout>a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#nav-checkout:hover {
  opacity: 1.0;
}
