{% extends 'patients_app/base.html' %}
{% block content %}
{% load staticfiles %}

<h1>Leave a message for your doctor</h1>

<form class="" action="{% url 'patients_app:message' %}" method="POST">
  {% csrf_token %}
  <textarea class="text-area" name="body" rows="8" cols="40">{{ message }}</textarea>
  <br>
  <button id="message-btn" type="submit" class="btn" name="button">
    Send message
  </button>
</form>
{% include 'patients_app/include/_loading_screen.html' %}

<script defer type="text/javascript" src="{% static 'js/message.js' %}"></script>
{% endblock %}
